%h1 
  = "Annual Reports for #{@tenks.ticker}" 
%table.stock-list
  %thead
    %th
      Year
    %th
      Link
    %th
      Price
  %tbody
    - num = 1.0
    - @tenks.list.sort{ |a,b| b.year <=> a.year }.each do |e|
      %tr
        %td
          = e.year
        %td
          = link_to "Annual Report", e.url
        %td
          = link_to "Buy for $ #{num += 1.0}",
  new_purchase_path(:purchase => { :acn => e.acn })
          






